* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    
    font-style: normal;
}
html, body {
    height: 100%;
    width: 100%;
}

#main {
    /* background-color: #000; */
    position: relative;
    z-index: 10;
    
}
#full-div1 {
    height: 50%;
    width: 100%;
    background-color: #f5f5f5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
  }
  .menu-links {
    position:absolute;
    margin-top: 24%;
    width:90%;
    margin-left: 5%;
    text-align: left;
    box-shadow: -5px 10px 40px rgba(0, 0, 0, 0.1);
    padding-block: 5vw;
    border-radius: 3vw;
    background-color: #fff;
  }
  .menu-links h4{
    margin-left: 10vw;
    padding-top:3vw ;
    width:30%;
    
    
  }
  .menu-links h4 a{
    color:#000;
    text-decoration: none;
    font-size: 5vw;
    
  }
  #full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -200%;
    transition: all ease 0.5s;
  }
nav {
    
    width:100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:2vw 0vw;
    
    background-color: #f5f5f5;
    

    
}

.nav-bar{
    z-index:99;
    padding: 2vw 0vw;
    width: 90%;
    
    /* background-color: red; */
    display: flex;
    align-items: center;
   
    z-index: 100;
    justify-content: space-between;
    height:12vmin;
    padding:2vmin;
    background-color: #fff;
    
    border-radius: 20px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top:0;
    margin-top: 2vw;
}

nav img{
    margin-inline: 2vw;;
    height:8vmin;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000008d;
    border-radius: 50px;
    font-weight: 500;
    color: #000000;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #000000;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4 i{
    margin-left:0.5vw;
    font-size:19px;
}

#nav-part2 h4:hover a {
    color: #fff;
}
#menu{
    
    display:none;
    align-items: center;
    justify-content: space-around;
    padding: 5px 5px;
    width: 12vw;
    height: 10vw;
    border:none;
    font-weight: 500;
    color: #000000;
    
  }
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5vw;
    height: 4vw;
    cursor: pointer;
    position: relative;
  }
  
  .bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    
  }
  
  .menu-icon.active .bar:nth-child(1) {
    transform: translateY(2vw) rotate(45deg);
  }
  
  .menu-icon.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-icon.active .bar:nth-child(3) {
    transform: translateY(-2vw) rotate(-45deg);
  }

#page1{
    
    width:100%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page1-in{
    margin-top: 12vmin;
    width:94%;
    height:40vmin;
    background-color: #000000;
    border-radius: 3vmax;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    
}

.p1-logo{
    width:40%;
    height:70%;
    margin-bottom: 3vw;
    margin-left: 4vw;
    
   

}
.p1-logo img{
    object-fit: contain;
    width:100%;
}

.welcome-div{
    width:40vw;
}
.welcome-div h1{
    
    margin-left:3vw;
    font-size:6vw;
    color:#fff;
    position:absolute;
    top:0;
    margin-top: 5vw;
}
.welcome-div h2{
    
    margin-left:14vw;
    font-size:6vw;
    color:#8ccc3c;
    position:absolute;
    top:0;
    margin-top: 9vw;

}

.about-company{
    width:60vw;
    
}

.about-company h2{
    
    margin-left:5vw;
    font-size:5vw;
    color:#000;
    
    margin-top: 3vw;

}

.about-left p{
    margin-left:2vmax;
    margin-top: 1vmax;
    font-size: 2vw;
    color:#000;
    
    padding:3vw;
    
    
}


.about-left {
    margin-top: 2vw;
    width: 55vw;
    margin-left: 2vw;
    background-color: #fff; 
    
    box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.3);
    border-radius: 2vw;
    position:sticky;
    top:20vmin;
}
#page2{
    display:flex;
    justify-content: space-around;
    background-color: #f5f5f5;
    width:100%;

}

.about-right{
    display:flex;
    flex-direction: column;
    
    width:35vw;
   
    margin-top: 11vw;
}

.right-in{
    background-color: #000000f0;
    box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 2vw;
    margin-block:1vw;
    position:relative;
    overflow: hidden;
    cursor:pointer;
    
}
.right-in h3{
    margin-block: 2vw;
    font-size: 2vw;
    color:#fff;
    user-select: none;
}
.right-in p{
    
    font-size:1vw;
    margin: 2vw;
    user-select: none;
    color:#fff
}
#about-para1,#about-para2,#about-para3{
    display:none;

}

.right-in2{
    display: flex;
    align-items: center;
}
.plus-cross{
    height:4vw;
    width:4vw;
    margin:1vw;
    box-shadow: -5px 5px 30px rgba(255, 255, 255, 0.5);
    border-radius: 1.2vw;
    display:flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-color: #8ccc3c;

}
.plus-cross i{
    font-size: 2vw;
    color:#000;
}


#about2{
    color:#fff;
    background-color: #000000f0;
}

#page3{
    padding-top: 10vmin;
    width:100%;
    background-color: #f5f5f5;
    display:flex;
    align-items: center;
    justify-content: center;
}
.page3-in{
    
    width:95vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2vw;
    border:.5px solid rgba(0, 0, 0, 0.263);
    border-radius: 3vw;
    background-color: #fff;
}

.founder-div, .manager-div{
    
    width:30vw;
    height:auto;
    object-fit: cover;
    background-color: #a09898;
    overflow: hidden;
    position: relative;
    border-radius:2vw;
    margin-bottom:1vw;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);

}
.founder-div img, .manager-div img{    
    width:30vw;
    z-index: 5;
    
}

.founder-socials{
    position:absolute;
    top:0;
    right:0;
    background-color: #fff;
    display:flex;
    align-items: center;

}
.founder-name{
    position: absolute;
    bottom:0;
    left:0;
    background-color: #fff;
    text-align: right;
    border-top-right-radius: 1.5vw;  
    border-bottom-left-radius:1.5vw;
    
}
.founder-name h2{
    font-size: 1.5vw;
    padding-top: .8vw;
    padding-right:1vw;
    padding-left: 1vw;
}
.founder-name p{
    padding-right:1vw;
    margin-block: 0.4vw;
    font-size: 1vw;
}
.founder-out , .manager-out{
    
    margin:5vw;
    position: relative;
}
.social-about{
    display:flex;
    align-items: center;
    gap:.3vw;
    justify-content: center;
    position: absolute;
    top:0;
    right:0;
    margin:1vw;
}
.socialicons-about {
    height:3vw;
    width:3vw;
    border-radius: 50%;
    border:1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #000;
    cursor:pointer;
    
}
.socialicons-about:hover{
    background-color: #000;
    
}
.socialicons-about:hover.socialicons-about i{
    color:#8ccc3c;
}
.socialicons-about i{
    color:#fff;
    font-size: 1.5vw;
    
}
#page4 {
    
    padding: 5vw 0;
    width: 100%;
    background-color: #F5F5F5;
    
}
#page4-after{
    width:100vw;
    background-color: #f5f5f5;
    height:14vw;
}
.page4-top{
    display: flex;
    width:85vw;
    height:10vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    background-color: #f5f5f5;
    border-radius:3vw;
    margin-left:7.5vw;
    
}
.page4-top h2{
    font-size:3.5vw;
    color:#fff;
}
.page4-top span{
    color:#8ccc3c;
}

.about-us{
    height:150px;
    position: relative;

}
.about-us h2{
    position: absolute;
    left:0;
    top:0;
    margin-left:7vw;
    margin-top: 2vw;
    font-size: 5vw;
}
#elem-container{
    width:95%;
    background-color: #fff;
    border-radius: 5vw;
    overflow:hidden;
    margin-left:2.5vw;
}
.space-div{
    height:4vw;
    width:100%;
}
.elem {
    height: 150px;
    width: 90%;
    position: relative;
    margin-left:5vw;
    border-bottom: 1px solid #38383864;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    background-color: #f5f5f5;
    border-radius:3vw;
    
}
#elem1{
    margin-top:10vmin;
}
.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: #8ccc3c;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
}

.elem:hover .overlay {
    top: 0;
}
#page5{
    
    
    width:100%;
    background-color: #f5f5f5;
    
}
.p5-top{
    padding-top: 5vw;;


}
.p5-top h2{
    font-size: 5vw;
    color:#000;
    margin-left: 5vw;;
}
.foot-div-out{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:50%;
    justify-content:space-around;
}
.studio-div{
    
    width:100%;
    background-color: #f5f5f5;
    border-radius:3vw;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
}

.setup {
    margin-top: 3vw;
    position: relative;
    width: 42%;
    height: 27vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2vmax;
    overflow: hidden;
}
  
.setup img {
    width: 100%;
    height:100%;
    object-fit: cover;
    
    display: block;
    transition: transform 0.3s ease;
    border-radius:2vmax;
    
}

.setup:hover img {
  transform: scale(1.1);
}
  
  
.overlay {
    position: absolute;
    bottom: 20px;
    left:2vw;
    
    z-index:1;
    
    text-align: center;
    padding: 10px;
    font-size: 16px;
    background: rgba(8, 8, 8, 0.526); /* Add a translucent background */
    backdrop-filter: blur(10px); /* Apply the blur effect */
    
    border-radius: 3vw; /* Optional: rounded corners */
    padding: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    
}
.overlay h3{
    z-index:3;
}
#footer{
    min-height:100vh;
    width:100vw;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
}

#footer-in{
    background-color: #161616;
    height:95vh;
    width:95%;
    border-radius:3vw;
    margin-left:2.5vw; ;
    
    overflow:hidden;
    bottom:0;
    
    position:relative;

}
.foot-logo{
    width:90%;
    margin-left:1vw ;
    top:0;
    left:0;
    

}
.foot-logo img{
    margin-top: 2vw;
    width:100%;
}
#moving-text-foot {
    overflow-x: auto;
    white-space: nowrap;
    
    
}

#moving-text-foot::-webkit-scrollbar {
    display: none;
}

.con-foot {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-top:3%;
}

#moving-text-foot h1 {
    font-size: 8vw;
    color:#fff;
    display: inline-block;
    
}
#gola2 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: #8ccc3c;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
.foot-upper{
    display:flex;
    height:50%;
}
.foot-div-out{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:50%;
    justify-content:space-around;
}
.foot-div{
    height:100%;
    width:25%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot-div h3{
    color:#fff;
    margin-block: 2vw;
    font-size: 2vw;
}
.contact-num , .email-foot , .location-foot , .address-foot{
    color:#fff;
    display:flex;
    align-items: center;
    gap:.5vw;
    margin-block:.5vw;
}
.foot-icon{
    
    color:#fff;
    border-radius: 50%;
    height:2.2vw;
    width:2.2vw;
}
.phone-num p , .email-foot p ,  .address-foot p{
    font-size: 1.3vw;
}
.address-foot p{
    margin-block:.2vw;

    
}

.foot-div ul{
    color:#fff;
    list-style-type: none;
}
.foot-div ul li{
    font-size: 1.3vw;
    margin-block: 1vw;
}
.foot-div ul li:hover{
    text-decoration: underline;
}

.social-foot{
    display:flex;
    align-items: center;
    gap:1vw;
    
    margin-top: 3vw;
}
.socialicons-foot {
    height:4vw;
    width:4vw;
    border-radius: 50%;
    border:2px solid #8ccc3c;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.socialicons-foot:hover{
    background-color: #8ccc3c;
    
}
.socialicons-foot:hover.socialicons-foot i{
    color:#161616;
}
.socialicons-foot i{
    color:#8ccc3c;
    font-size: 2.2vw;
    
}

.foot-bottom-left{
    position: absolute;
    bottom:0;
    left:0;
    text-align: left;
    color:#ffffffba;
}
.foot-bottom-left p{
    font-size: 1.3vw;
    margin:2vw;
}

.foot-icon{
    font-size: 1.5vw;
    margin-top: .4vw;
}

.foot-bottom-right{
    position:absolute;
    right:0;
    bottom:0;
    text-align: right;
    color:#ffffffba;
    margin:1vw;
}
.foot-bottom-right h5{
    font-size: 1vw;
    font-weight: 500;

}
.foot-bottom-right p{
    font-size: .8vw;
}

#page10 {
    height: 1px;
    width: 100%;
    background-color: #f5f5f5;
    padding:1.7vmax;
}
@media (max-width:500px){
    .foot-upper{
        flex-direction: column;
        align-items: flex-start;
    }
    .foot-div{
        width:100%;
        margin-top: 3vw;
        
    }
    .foot-div-out{
        justify-content: space-around;
        width:100%;
    }
    .foot-div h3{
        font-size:5vw;
    }
    .foot-div ul li{
        font-size:3.7vw;
    }
    .address-foot p,.contact-num p, .email-foot p{
        font-size:3.7vw;
        margin:2vw 4vw;
        
    }
    .location-foot i,.contact-num i, .email-foot i{
        font-size:5vw;
        margin:0vw;
    }
    #gola2 {
        height: 20px;
        width: 20px;
        
        margin: 1vw 1vw;
    }
    .footer-in{
        position: relative;
    }
    

    
    #moving-text-foot h1 {
        font-size: 12vw;
        color:#fffffff1;
        display: inline-block;
        
        margin-top: 37%;
    
    }
    .foot-bottom-right h5{
        font-size: 2vw;
        font-weight: 500;
    
    }
    .foot-bottom-right p{
        font-size: 2vw;
    }
    .foot-bottom-left p{
        font-size: 3vw;
    }
    .foot-bottom-right{
        text-align:center;
        width:100%;
    }
    .foot-bottom-left{
        text-align:center;
        width:100%;
        margin-bottom:8%;

    }
    .socialicons-about i{
        color:#fff;
        font-size: 2.3vw;
        
    }
    .socialicons-about {
        border:.5px solid #000;
        height:4vw;
        width:4vw;
    }
    .social-about{
        margin-top: 1vw;
    }
    
}
@media (max-width:800px){
    #menu {
        display: flex;
        padding-inline: 2vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 3vw;
        font-weight: 200;
        margin-right:2vw;
        padding-block: 0vw;
        user-select: none;
    }
    #menu i{
        font-size: 6vw;
        margin:4px
    }
    #nav-part2 {
        display: none;
    }
}
@media (max-width:600px){
    nav {
      width:100%;
      
      
      
      padding:3vh 0vw;
      
      
      
  
      
  }
  
  .nav-bar{
      height:16vmin;
      padding: 2vw 2vw;
      width: 90%;
      border-radius: 20px;
      margin-top:5vw;
  }
  
  
  
  #nav-part2 {
      display: none;
  }
  #page10{
    padding-block:2px;
  }
  
  .about-right{
    width:90%;
  }
  .about-company {
    width:80%;
    margin-inline: 10%;
  }
  .about-left{
    width:80%;
    margin-inline:10%;
  }
  .about-company h2{
    font-size: 7vw;
  }
  .right-in{
    margin-inline: 0px;
    width:80%;
    margin-left:10%;
  }
  .right-in h3{
    font-size:4vw;
    margin-left: 3%;
  }
  .right-in p{
    font-size: 3vw;
  }
  .about-left p{
    font-size: 3vw;

  }
  #page2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .plus-cross i{
    font-size: 4vw;
  }
  .plus-cross{
    height:6.5vw;
    width:6.5vw;
  }
  .page1-in {
    height:25vmin;

  }
  #page4 {
        
        width: 100%;
        background-color: #F5F5F5;
        padding: 4vw 0;
    }
    #page4-after{
        width:100vw;
        background-color: #f5f5f5;
        height:14vw;
    }
    .page4-top{
        display: flex;
        width:85vw;
        height:10vw;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        background-color: #000;
        border-radius:3vw;
        margin-left:7.5vw;
        
    }
    .page4-top h2{
        font-size:3.5vw;
        color:#fff;
    }
    .page4-top span{
        color:#36e936;
    }
    
    .about-us{
        height:70px;
        position: relative;
        
    
    }
    .about-us h2{
        position: absolute;
        left:0;
        top:0;
        margin-left:7vw;
        margin-top: 3.5vw;
        font-size: 5vh;
    }
    
    
    .elem {
        height: 50px;
        width:90%;
        
        
    }
    
    .elem h2 {
        font-size: 3.5vw;
        
    }
    .p5-top h2{
        font-size: 7vw;
        margin-left:7vw;
        margin-top:7vw;

    }
    .setup{
        width: 80%;
        height: 47vw;

        
    }
    .overlay {
    
        bottom: 2vw;
        left:2vw;
        
        font-size: 4vw;
        border-radius: 3vw; /* Optional: rounded corners */
        padding: 1vw 2vw;
        backdrop-filter: none;
    }
    .page3-in{

        flex-direction: column;
    }
    
    .founder-div , .manager-div{
        width:70vw;
        border-radius: 3vw;

    }
    .founder-div img , .manager-div img{
        width:70vw;

    }
    .founder-name h2{
        font-size:4vw;
        padding-top: 1.2vw;
        padding-right:2vw;
        padding-left: 2vw;
    }
    .founder-name p{
        padding-right:2vw;
        margin-block: 1vw;
        font-size: 3.5vw;
    }
    .founder-name{
        border-top-right-radius: 3vw;  
        border-bottom-left-radius:3vw;
    }
    .social-about{
        margin:2vw;
    }
    .socialicons-about{
        height:8vw;
        width:8vw;
        margin:.5vw;
    }
    .socialicons-about i{
        font-size:5vw;
    }
    .socialicons-foot i{
        color:#8ccc3c;
        font-size: 5vw;
        
    }
    .socialicons-foot {
        border:.5px solid #8ccc3c;
        height:8vw;
        width:8vw;
    }
    .social-foot{
        margin-top: 1vw;
    }
}