* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    
    font-style: normal;
}
html, body {
    height: 100%;
    width: 100%;
}

#main {
    /* background-color: #000; */
    position: relative;
    z-index: 10;
}
#full-div1 {
    height: 50%;
    width: 100%;
    background-color: #f5f5f5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
  }
  .menu-links {
    position:absolute;
    margin-top: 20%;
    width:90%;
    margin-left: 5%;
    text-align: left;
    box-shadow: -5px 10px 40px rgba(0, 0, 0, 0.1);
    padding-block: 5vw;
    border-radius: 3vw;
    background-color: #fff;
  }
  .menu-links h4{
    margin-left: 10vw;
    padding-top:3vw ;
    width:30%;
    
    
  }
  .menu-links h4 a{
    color:#000;
    text-decoration: none;
    font-size: 5vw;
    
  }
  #full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -200%;
    transition: all ease 0.5s;
  }
nav {
    
    width:100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:2vw 0vw;
    
    background-color: #f5f5f5;
    

    
}

.nav-bar{
    z-index:99;
    padding: 2vw 0vw;
    width: 90%;
    
    /* background-color: red; */
    display: flex;
    align-items: center;
   
    z-index: 100;
    justify-content: space-between;
    height:12vmin;
    padding:2vmin;
    background-color: #fff;
    
    border-radius: 20px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top:0;
    margin-top: 2vw;
}

nav img{
    margin-inline: 2vw;;
    height:8vmin;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000008d;
    border-radius: 50px;
    font-weight: 500;
    color: #000000;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #000000;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4 i{
    margin-left:0.5vw;
    font-size:19px;
}

#nav-part2 h4:hover a {
    color: #fff;
}
#menu{
    
    display:none;
    align-items: center;
    justify-content: space-around;
    padding: 5px 5px;
    width: 12vw;
    height: 10vw;
    border:none;
    font-weight: 500;
    color: #000000;
    
  }
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5vw;
    height: 4vw;
    cursor: pointer;
    position: relative;
  }
  
  .bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    
  }
  
  .menu-icon.active .bar:nth-child(1) {
    transform: translateY(2vw) rotate(45deg);
  }
  
  .menu-icon.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-icon.active .bar:nth-child(3) {
    transform: translateY(-2vw) rotate(-45deg);
  }

#page1{
    
    width:100vw;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page1-in{
    margin-top: 12vmin;
    width:94%;
    height:40vmin;
    background-color: #000000;
    border-radius: 3vmax;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    
}

.p1-logo{
    width:40%;
    height:70%;
    margin-bottom: 3vw;
    margin-left: 4vw;
    
   

}
.p1-logo img{
    object-fit: contain;
    width:100%;
}

.welcome-div{
    width:40vw;
}
.welcome-div h1{
    
    margin-left:3vw;
    font-size:6vw;
    color:#fff;
    position:absolute;
    top:0;
    margin-top: 5vw;
}
.welcome-div h2{
    
    margin-left:14vw;
    font-size:6vw;
    color:#47f547;
    position:absolute;
    top:0;
    margin-top: 9vw;

}

.about-company{
    width:60vw;
    
}

.about-company h2{
    
    margin-left:5vw;
    font-size:5vw;
    color:#000;
    
    margin-top: 3vw;

}

.about-left p{
    margin-left:2vmax;
    margin-top: 1vmax;
    font-size: 2vw;
    color:#000;
    
    padding:3vw;
    
    
}


.about-left {
    margin-top: 2vw;
    width: 55vw;
    margin-left: 2vw;
    background-color: #fff; 
    backdrop-filter: blur(10px); 
    box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.3);
    border-radius: 2vw;
    position:sticky;
    top:20vmin;
}
#page2{
    display:flex;
    justify-content: space-around;
    background-color: #f5f5f5;
    width:100vw;

}

.about-right{
    display:flex;
    flex-direction: column;
    
    width:35vw;
   
    margin-top: 11vw;
}

.right-in{
    background-color: #fff;
    box-shadow: -5px 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 2vw;
    margin-block:1vw;
    position:relative;
    overflow: hidden;
    cursor:pointer;
    
}
.right-in h3{
    margin-block: 2vw;
    font-size: 2vw;
    user-select: none;
}
.right-in p{
    
    font-size:1vw;
    margin: 2vw;
    user-select: none;
}
#about-para1,#about-para2,#about-para3{
    display:none;

}

.right-in2{
    display: flex;
    align-items: center;
}
.plus-cross{
    height:4vw;
    width:4vw;
    margin:1vw;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 1.2vw;
    display:flex;
    align-items: center;
    justify-content: center;
    user-select: none;

}
.plus-cross i{
    font-size: 2vw;
}


#about2{
    color:#000;
    background-color: #47f547;
}

#page3{
    
    width:100%;
    background-color: #f5f5f5;
    display:flex;
    
    justify-content: center;
}
.page3-in{
    
    width:95vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10vw;
    border:.5px solid rgba(0, 0, 0, 0.263);
    border-radius: 3vw;
    background-color: #fff;
}

.founder-div, .manager-div{
    
    width:30vw;
    height:auto;
    object-fit: contain;
    background-color: #a09898;
    overflow: hidden;
    position: relative;
    border-radius:2vw;
    margin-bottom:1vw;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);

}
.founder-div img, .manager-div img{    
    width:30vw;
    z-index: 5;
    
}

.founder-socials{
    position:absolute;
    top:0;
    right:0;
    background-color: #fff;
    display:flex;
    align-items: center;

}
.founder-name{
    position: absolute;
    bottom:0;
    left:0;
    background-color: #fff;
    text-align: right;
    border-top-right-radius: 1.5vw;  
    border-bottom-left-radius:1.5vw;
    
}
.founder-name h2{
    font-size: 1.5vw;
    padding-top: .8vw;
    padding-right:1vw;
    padding-left: 1vw;
}
.founder-name p{
    padding-right:1vw;
    margin-block: 0.4vw;
    font-size: 1vw;
}
.founder-out , .manager-out{
    
    margin:5vw;
    position: relative;
}
.social-foot{
    display:flex;
    align-items: center;
    gap:1vw;
    justify-content: center;
    
}
.socialicons-foot {
    height:4vw;
    width:4vw;
    border-radius: 50%;
    border:2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.socialicons-foot:hover{
    background-color: #000;
    
}
.socialicons-foot:hover.socialicons-foot i{
    color:#fff;
}
.socialicons-foot i{
    color:#000;
    font-size: 2.2vw;
    
}
#page4{
    min-height:100vh;
    width:100%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.foot-div-out{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:50%;
    justify-content:space-around;
}
@media (max-width:500px){
    .foot-upper{
        flex-direction: column;
        align-items: flex-start;
    }
    .foot-div{
        width:100%;
        margin-top: 3vw;
        
    }
    .foot-div-out{
        justify-content: space-around;
        width:100%;
    }
    .foot-div h3{
        font-size:5vw;
    }
    .foot-div ul li{
        font-size:3.7vw;
    }
    .address-foot p,.contact-num p, .email-foot p{
        font-size:3.7vw;
        margin:2vw 4vw;
        
    }
    .location-foot i,.contact-num i, .email-foot i{
        font-size:5vw;
        margin:0vw;
    }
    #gola2 {
        height: 20px;
        width: 20px;
        
        margin: 1vw 1vw;
    }
    .footer-in{
        position: relative;
    }
    

    
    #moving-text-foot h1 {
        font-size: 12vw;
        color:#fffffff1;
        display: inline-block;
        
        margin-top: 40%;
    
    }
    .foot-bottom-right h5{
        font-size: 2vw;
        font-weight: 500;
    
    }
    .foot-bottom-right p{
        font-size: 2vw;
    }
    .foot-bottom-left p{
        font-size: 3vw;
    }
    .foot-bottom-right{
        text-align:center;
        width:100%;
    }
    .foot-bottom-left{
        text-align:center;
        width:100%;
        margin-bottom:8%;

    }
}
@media (max-width:800px){
    #menu {
        display: flex;
        padding-inline: 2vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 3vw;
        font-weight: 200;
        margin-right:2vw;
        padding-block: 0vw;
        user-select: none;
    }
    #menu i{
        font-size: 6vw;
        margin:4px
    }
    #nav-part2 {
        display: none;
    }
}