* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    
    font-style: normal;
}
html, body {
    height: 100%;
    width: 100%;
}

#main {
    /* background-color: #000; */
    position: relative;
    z-index: 10;
}
#full-div1 {
    height: 50%;
    width: 100%;
    background-color: #f5f5f5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
  }
  .menu-links {
    position:absolute;
    margin-top: 24%;
    width:90%;
    margin-left: 5%;
    text-align: left;
    box-shadow: -5px 10px 40px rgba(0, 0, 0, 0.1);
    padding-block: 5vw;
    border-radius: 3vw;
    background-color: #fff;
  }
  .menu-links h4{
    margin-left: 10vw;
    padding-top:3vw ;
    width:100%;
    
    
  }
  .menu-links h4 a{
    color:#000;
    text-decoration: none;
    font-size: 5vw;
    
  }
  #full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -200%;
    transition: all ease 0.5s;
  }
nav {
    
    width:100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:2vw 0vw;
    
    background-color: #f5f5f5;
    

    
}

.nav-bar{
    z-index:99;
    padding: 2vw 0vw;
    width: 90%;
    
    /* background-color: red; */
    display: flex;
    align-items: center;
   
    z-index: 100;
    justify-content: space-between;
    height:12vmin;
    padding:2vmin;
    background-color: #fff;
    
    border-radius: 20px;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top:0;
    margin-top: 2vw;
}

nav img{
    margin-inline: 2vw;;
    height:8vmin;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000006c;
    border-radius: 50px;
    font-weight: 400;
    color: #000000ca;
    transition: all ease 0.4s;
    position: relative;
    font-size: 15px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #000000;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4 i{
    margin-left:0.5vw;
    font-size:19px;
}

#nav-part2 h4:hover a {
    color: #fff;
}
#menu{
    
    display:none;
    align-items: center;
    justify-content: space-around;
    padding: 5px 5px;
    width: 12vw;
    height: 10vw;
    border:none;
    font-weight: 500;
    color: #000000;
    
  }
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 5vw;
    height: 4vw;
    cursor: pointer;
    position: relative;
  }
  
  .bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    
  }
  
  .menu-icon.active .bar:nth-child(1) {
    transform: translateY(2vw) rotate(45deg);
  }
  
  .menu-icon.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-icon.active .bar:nth-child(3) {
    transform: translateY(-2vw) rotate(-45deg);
  }


.service-top{
    background-color: #f5f5f5;
    width:100%;
}
.service-top h2{
    padding-top: 7vmax;
    margin-left:6vw;
    font-size: 4vw;

}
.service-top p{
    padding-top: .7vmax;
    margin-left:6vw;
    font-size: 2.5vw;
    font-style: italic;

}

/*
#events{
    
    min-height:100vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300vh;
    

}

.event-tag h2{
    color:#000;
    font-size: 3vw;
    text-align: center;
    padding-top: 2vw;
    text-decoration: underline;

}
.events-img{
    margin-top: 2vw;
    width:30%;
    border-radius: 1vw;
    overflow: hidden;
    
    
}
.events-img img{
    width:100%;
    
}
.work-container{
    display: flex;
    
    justify-content: space-around;
    
    flex-wrap: wrap;
    
    width:97vw;
    background-color:#000;
}
.work-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    
    background-color: #f4f4f4;
  }
  

*/

#page1{
    width:100%;
    height: 90vh;
    background-color: #f5f5f5;
    position:relative;
}




#slide-container{
    height:80%;
    width:70%;
    
    
    position: absolute;
    
    left:15%;
    top:50%;
    transform: translate(0%,-50%);

}
.image-container{
    width:0%;
    height:100%;
    position:absolute;
    box-shadow: 0 8px 20px rgba(18, 21, 14, 0.8); 
}
.image-container img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.text{
    
    height:250px;
    width:800px;
    overflow: hidden;
    bottom:15%;
    left:-15%;
    z-index:12;
    position: absolute;
    display:none;

}
.text h1{
    position: absolute;
    top:250px;
    font-size: 6vw;
}

#page-event{
    min-height:100vh;
    width:100%;
    
    background-color: #f5f5f5;

}

.page2-in{
    
    width:100%;
    background-color: #f5f5f5;
    border-radius:3vw;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
}

.flex-item {
    margin-top: 2vw;
    position: relative;
    width: 42%;
    height: 27vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2vmax;
    overflow: hidden;
    opacity: 0;  
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
  
.flex-item img {
    width: 100%;
    height:100%;
    object-fit: cover;
    
    display: block;
    transition: transform 0.3s ease;
    border-radius:2vmax;
    
}

.flex-item:hover img {
  transform: scale(1.1);
}
  
  
.overlay {
    position: absolute;
    bottom: 20px;
    left:2vw;
    
    z-index:1;
    
    text-align: center;
    padding: 10px;
    font-size: 16px;
    background: rgba(8, 8, 8, 0.526); /* Add a translucent background */
    backdrop-filter: blur(10px); /* Apply the blur effect */
    
    border-radius: 3vw; /* Optional: rounded corners */
    padding: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    
}
.overlay h3{
    z-index:3;
}
.event-tag{
    width:100%;
}
.event-tag h2{
    padding-top: 3vmax;
    margin-left:6vw;
    font-size: 3.5vw;

}
.event-tag p{
    padding-top: 1vmax;
    margin-left:6vw;
    font-size: 3vw;
    font-style: italic;

}

.flex-item.show {
    opacity: 1;
    transform: translateY(0);
}

#footer{
    margin-top: 5vw;
    min-height:100vh;
    width:100%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
}

#footer-in{
    background-color: #161616;
    height:95vh;
    width:95%;
    border-radius:3vw;
    margin-left:2.5vw; ;
    
    overflow:hidden;
    bottom:0;
    
    position:relative;

}
.foot-logo{
    width:90%;
    margin-left:1vw ;
    top:0;
    left:0;
    

}
.foot-logo img{
    margin-top: 2vw;
    width:100%;
}
#moving-text-foot {
    overflow-x: auto;
    white-space: nowrap;
    
    
}

#moving-text-foot::-webkit-scrollbar {
    display: none;
}

.con-foot {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-top:3%;
}

#moving-text-foot h1 {
    font-size: 8vw;
    color:#fff;
    display: inline-block;
    
}
#gola2 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: #8ccc3c;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
.foot-upper{
    display:flex;
    height:50%;
}

.foot-div{
    height:100%;
    width:25%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot-div h3{
    color:#fff;
    margin-block: 2vw;
    font-size: 2vw;
}
.contact-num , .email-foot , .location-foot , .address-foot{
    color:#fff;
    display:flex;
    align-items: center;
    gap:.5vw;
    margin-block:.5vw;
}
.foot-icon{
    
    color:#fff;
    border-radius: 50%;
    height:2.2vw;
    width:2.2vw;
}
.phone-num p , .email-foot p ,  .address-foot p{
    font-size: 1.3vw;
}
.address-foot p{
    margin-block:.2vw;

    
}

.foot-div ul{
    color:#fff;
    list-style-type: none;
}
.foot-div ul li{
    font-size: 1.3vw;
    margin-block: 1vw;
}
.foot-div ul li:hover{
    text-decoration: underline;
}

.social-foot{
    display:flex;
    align-items: center;
    gap:1vw;
    
    margin-top: 3vw;
}
.socialicons-foot {
    height:4vw;
    width:4vw;
    border-radius: 50%;
    border:2px solid #8ccc3c;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.socialicons-foot:hover{
    background-color: #8ccc3c;
    
}
.socialicons-foot:hover.socialicons-foot i{
    color:#161616;
}
.socialicons-foot i{
    color:#8ccc3c;
    font-size: 2.2vw;
    
}
.social-foot a{
    text-decoration: none;
}
.foot-bottom-left{
    position: absolute;
    bottom:0;
    left:0;
    text-align: left;
    color:#ffffffba;
}

.foot-bottom-left p{
    font-size: 1.3vw;
    margin:2vw;
}

.foot-icon{
    font-size: 1.5vw;
    margin-top: .4vw;
}

.foot-bottom-right{
    position:absolute;
    right:0;
    bottom:0;
    text-align: right;
    color:#ffffffba;
    margin:1vw;
}

.foot-bottom-right h5{
    font-size: 1vw;
    font-weight: 500;

}

.foot-bottom-right p{
    font-size: .8vw;
}
.foot-div-out{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:50%;
    justify-content:space-around;
}
#page10 {
    height: 1px;
    width: 100%;
    background-color: #f5f5f5;
    padding-block:3vw;
}
.developer-socials a{
    text-decoration: none;
    color:#ffffffa2
}
.developer-socials a:hover{
    color:#8ccc3c;
}
@media (max-width:500px){
    .foot-upper{
        flex-direction: column;
        align-items: flex-start;
    }
    .foot-div{
        width:100%;
        margin-top: 3vw;
        
    }
    .foot-div-out{
        justify-content: space-around;
        width:100%;
    }
    .foot-div h3{
        font-size:5vw;
    }
    .foot-div ul li{
        font-size:3.7vw;
    }
    .address-foot p,.contact-num p, .email-foot p{
        font-size:3.7vw;
        margin:2vw 4vw;
        
    }
    .location-foot i,.contact-num i, .email-foot i{
        font-size:5vw;
        margin:0vw;
    }
    #gola2 {
        height: 20px;
        width: 20px;
        
        margin: 1vw 1vw;
    }
    .socialicons-foot i{
        color:#8ccc3c;
        font-size: 5vw;
        
    }
    .socialicons-foot {
        border:.5px solid #8ccc3c;
        height:8vw;
        width:8vw;
    }
    .social-foot{
        margin-top: 1vw;
    }
    .footer-in{
        position: relative;
    }
    .foot-div-out{
        display: flex;
        flex-direction: row;
        align-items: center;
        width:50%;
        justify-content:space-around;
    }

    
    #moving-text-foot h1 {
        font-size: 12vw;
        color:#fffffff1;
        display: inline-block;
        
        margin-top: 37%;
    
    }
    .foot-bottom-right h5{
        font-size: 2vw;
        font-weight: 500;
    
    }
    .foot-bottom-right p{
        font-size: 2vw;
    }
    .foot-bottom-left p{
        font-size: 3vw;
    }
    .foot-bottom-right{
        text-align:center;
        width:100%;
    }
    .foot-bottom-left{
        text-align:center;
        width:100%;
        margin-bottom:8%;

    }
    .foot-div-out{
        justify-content: space-around;
        width:100%;
    }
}
@media (max-width:800px){
    #menu {
        display: flex;
        padding-inline: 2vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 3vw;
        font-weight: 200;
        margin-right:2vw;
        padding-block: 0vw;
        user-select: none;
    }
    #menu i{
        font-size: 6vw;
        margin:4px
    }
    #nav-part2 {
        display: none;
    }
}

@media (max-width:600px){
    nav {
      width:100%;
      
      
      
      padding:3vh 0vw;
      
      
      
  
      
  }
  
  .nav-bar{
      height:16vmin;
      padding: 2vw 2vw;
      width: 90%;
      border-radius: 20px;
      margin-top:5vw;
  }
  #nav-part2 {
      display: none;
  }
  #page1{
    height:25vh;
    position: relative;
  }
  .text{
    
    height:60px;
    width:200px;
    
    bottom:15%;
    left:-20%;
    z-index:12;
    position: absolute;
    display:none;

}
.text h1{
    position: absolute;
    top:250px;
    font-size: 5vw;
}
#page10{
    padding-block:4px;
}
  .service-top h2 {
    font-size: 10vw;
  }
  .service-top p {
    font-size:4vw;
  }
  .event-tag h2{
    font-size:6vw;
  }
  .event-tag p{
    font-size:3vw;
  }
  .page2-in{
    flex-direction: column;
  }
  .flex-item{
    width: 80%;
    height: 47vw;

    
}
.overlay {

    bottom: 2vw;
    left:2vw;
    
    font-size: 3vw;
    border-radius: 3vw; /* Optional: rounded corners */
    padding: 1vw 2vw;
    backdrop-filter: none;
}
  
}